div {
    background-color: #bfcba8;
    padding: 0;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Montaga', serif;
    background-color: #bfcba8;
}

h1 {
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    color: #464f41;
    font-family: 'Permanent Marker', cursive;
}
p {
    color: #464f41;
    font-family: 'Montaga', serif;
    font-size: 1rem;
    font-weight: normal;
}
h2 {
   color: #464f41;
   font-family: 'Montaga', serif;
   font-size: 1.3rem;
}
h3 {
    color: #464f41;
}
.top-container {
    background_color: #bfcba8;
    padding-top: 100px;
    position: relative;
}

.middle-container {
    background-color: #eeeeee;
}
.education-container{
    background-color: #eeeeee;
}

.experience-container{
    background-color: #eeeeee;
}

.bottom-container {
    background-color: #bfcba8;
}

.bottom-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.top-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

br {
    background-color: #bfcba8;
}

a {
    color: #464f41;
    text-decoration: none;
}

.skill-row{
    width: 50%;
    margin: 50px auto;
    background-color: #eeeeee;
}

.skill-image-left {
    width: 125px;
    float: left;
    margin-right: 30px;
    background-color: #eeeeee;
}

.skill-image-right {
    width: 125px;
    float: right;
    margin-left: 30px;
    background-color: #eeeeee;
}
hr {
    border-color: #393e46;
    border-style: dotted none none;
    border-width: 5px;
    width: 3%;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montaga', serif;
  color: #ffffff;
  font-size: 20px;
  background: #000000;
  padding: 10px 20px 10px 20px;
  border: solid #000000 2px;
  text-decoration: none;
}

.btn:hover {
  background: #fc3c3c;
  text-decoration: none;
}

.footer-link {
    margin: 25px;
}

a:hover {
    background: #fc3c3c;
    text-decoration: none;
}

li {
    text-align: left;
}

